
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
body{
    /*background: #cceeff;*/
    background:url("../images/bg.png");
}
#container{
	width:54%;
	margin:auto;
	background: white;
    padding: 20px;
    /*text-align: center;*/
}
.logo{
    font-family: 'Indie Flower', cursive;
    float:left;
}
.toolname{
	font-size: 50pt;
	
	color:#2196F3;

}
.tagline{
    font-size: 15pt;
}
.pdfbutton{
	display: inline-block;
    margin: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 50px;
    color: #fff;
    padding: 20px 30px;
    background-color: #238b68;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(160, 60%, 49%, 0.8)), to(hsla(160, 60%, 34%, 0.2)));
    background-image: -webkit-linear-gradient(hsla(160, 60%, 49%, 0.8), hsla(160, 60%, 34%, 0.2));
    background-image: -moz-linear-gradient(hsla(160, 60%, 49%, 0.8), hsla(160, 60%, 34%, 0.2));
    background-image: -o-linear-gradient(hsla(160, 60%, 49%, 0.8), hsla(160, 60%, 34%, 0.2));
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    font-family: 'Indie Flower', cursive;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;

}
.comment{
	border: 1px solid #bdb9b9;
	padding:10px;
	background-color: white;
	
}
.savedcomment{
	border: 1px solid #bdb9b9;
	padding:10px;
	background-color: white;
    word-wrap:break-word;


}
.commentuser{
	width:80%;
	float:left;
	padding-top: 5px;
	font-size: 15pt;
	font-weight:bold;
	font-family: sans-serif;
}
.commentimg{
	width:15%;
	float:left;
}
.commentheader{
	padding:5px;
	vertical-align: middle;
	margin-bottom: 30px;
	color:#2196F3;
    word-wrap:break-word;

}
.commentbutton{
	margin-top:10px;
}

.summary{
    border: 1px solid #bdb9b9;

    background-color:#2196F3;
}
.summaryuser{
    width:80%;
    float:left;
    padding-top: 5px;
    font-size: 15pt;
    font-weight:bold;
    font-family: sans-serif;
}
.summaryimg{
    width:15%;
    float:left;
}
.summarymainheader{
    color:#2196F3;
    background-color: white;
}
.summaryheader{
    padding:15px;
    vertical-align: middle;
    display:block;
    height:55px;
}

.summarycontent{
    padding:15px;
    vertical-align: middle;
    word-wrap:break-word;
    color:white;
}
.summarybutton{
    margin-top:10px;
}
.summaryaddheader{
    border-bottom:1px solid #bdb9b9;
}
.w3-btn{width:120px;}
.summaryaddbtn{
    width:100%;
}


.pdfbuttons{
	margin-bottom:10px;
    text-align: center;

}
.like{
	float:left;
	margin-top:10px;
}
.heading{
     font-family: 'Indie Flower', cursive;
}
.content{
    text-align: center;
    margin-top:15%;
    dispaly:inline-block;
    clear: both;
width: 100%;

}
.filecontent{


    margin-top:7%;
    dispaly:inline-block;
    clear: both;
    width: 100%;


}
#clearspace{
    display:block;
    width:10px;
    height:10px;
    clear:both;
}
#footer{
    text-align: center;
}
#nullsummary{
    width:100%;
    color:black;
}
ul#tabs {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
ul#tabs li {
    display: inline-block;
    background-color: #32c896;
    border-bottom: solid 5px #238b68;
    padding: 5px 20px;
    margin-bottom: 4px;
    color: #fff;
    cursor: pointer;
}
ul#tabs li:hover {
    background-color: #238b68;
}
ul#tabs li.active {
    background-color: #238b68;
}
.file-upload {
    position: relative;
    overflow: hidden;
    margin: 10px; }

.file-upload input.file-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0); }